<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminPortfolioMapper">
	<select id="portfolioList" resultType="com.spring.ex.portfolio.domain.PortRegVO">
		SELECT portfolio_id, portfolio_title, portfolio_userId,
		portfolio_category_main, portfolio_category_sub, portfolio_term, portfolio_price, portfolio_rating, portfolio_regDate
		FROM portfolio ORDER BY portfolio_id DESC
	</select>
	
	<select id="categoryMainGetOne" parameterType="int" resultType="com.spring.ex.portfolio.domain.CategoryMainVO">
		SELECT * FROM category_main WHERE id = #{id}
	</select>
	
	<select id="categorySubGetOne" parameterType="int" resultType="com.spring.ex.portfolio.domain.CategorySubVO">
		SELECT * FROM category_sub WHERE id = #{id}
	</select>
	
	<!-- 어드민 메인 페이지 백분율   -->
	<select id="portcate" resultType="com.spring.ex.portfolio.domain.PortRegVO">
	select portfolio_category_main, ROUND(COUNT(*) * 100 / sum(count(*)) over(), 1) AS score
	from portfolio
	group by portfolio_category_main 
	ORDER by score DESC
	</select>
	
	<select id="topport" resultType="com.spring.ex.portfolio.domain.PortRegVO">
	SELECT * FROM portfolio
	WHERE portfolio_regDate 
	ORDER BY portfolio_regDate DESC LIMIT 5;
	</select>
	
	<select id="portcnt" resultType="com.spring.ex.portfolio.domain.PortRegVO">
	SELECT portfolio_category_main, COUNT(*) AS cnt
	FROM portfolio
	GROUP BY portfolio_category_main
	</select>
	
<!-- 	<select id="dealcnt" resultType="com.spring.ex.portfolio.domain.PortRegVO">
	
	</select> -->
	
</mapper>