<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminPortfolioMapper">
	<select id="portfolioList" resultType="com.spring.ex.portfolio.domain.PortRegVO">
		SELECT portfolio_id, portfolio_title, portfolio_userId,
		portfolio_category_main, portfolio_category_sub, portfolio_content, portfolio_term, portfolio_price, portfolio_rating, portfolio_regDate
		FROM portfolio ORDER BY portfolio_id DESC
	</select>
	
	<select id="categoryMainGetOne" parameterType="int" resultType="com.spring.ex.portfolio.domain.CategoryMainVO">
		SELECT * FROM category_main WHERE id = #{id}
	</select>
	
	<select id="categorySubGetOne" parameterType="int" resultType="com.spring.ex.portfolio.domain.CategorySubVO">
		SELECT * FROM category_sub WHERE id = #{id}
	</select>
	
	<select id="adminPortfolioImage" parameterType="int" resultType="com.spring.ex.portfolio.domain.PortRegVO">
		SELECT portfolio_Img FROM portfolio WHERE portfolio_id = #{portfolio_id}
	</select>
	
	<select id="adminPortfolioContent" parameterType="int" resultType="com.spring.ex.portfolio.domain.PortRegVO">
		SELECT portfolio_content FROM portfolio WHERE portfolio_id = #{portfolio_id}
	</select>
	
	<delete id="adminPortfolioDelete" parameterType="int">
		DELETE FROM portfolio WHERE portfolio_id = #{portfolio_id}
	</delete>
	
	<select id="adminPortfolioDetail" parameterType="int" resultType="com.spring.ex.portfolio.domain.PortRegVO">
		SELECT * FROM portfolio WHERE portfolio_id = #{portfolio_id}
	</select>

	<select id="adminPortfolioAllSaleCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM deal WHERE deal_portfolio_id = #{portfolio_id}
	</select>
	
	<select id="adminPortfolioAllSalePrice" parameterType="int" resultType="int">
		SELECT IFNULL(SUM(deal_price), 0) FROM deal WHERE deal_portfolio_id = #{portfolio_id}
	</select>
	
	<select id="adminPortfolioAllReviewCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM review WHERE review_portfolio_id = #{portfolio_id}
	</select>
	
	<select id="adminPortfolioAllInquiryCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM Inquiry WHERE inq_portfolio_id = #{portfolio_id}
	</select>
	
	<select id="adminPortfolioRecentDeal" parameterType="int" resultType="com.spring.ex.deal.domain.DealVO">
		SELECT * FROM deal WHERE deal_portfolio_id = #{portfolio_id} ORDER BY deal_date DESC LIMIT 0, 5
	</select>
	
	<select id="adminPortfolioRecentReview" parameterType="int" resultType="com.spring.ex.review.domain.ReviewVO">
		SELECT * FROM review WHERE review_portfolio_id = #{portfolio_id} ORDER BY review_regDate DESC LIMIT 0, 5
	</select>
	
	<select id="adminPortfolioRecentInquiry" parameterType="int" resultType="com.spring.ex.inquiry.domain.InquiryVO">
		SELECT * FROM inquiry WHERE inq_portfolio_id = #{portfolio_id} ORDER BY inq_regDate DESC LIMIT 0, 5
	</select>
	
	<select id="adminPortfolioAnsInq" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM answer WHERE ans_inq_id = #{inq_id}
	</select>
	
	<!-- 어드민 메인 페이지 백분율   -->
	<select id="portcate" resultType="com.spring.ex.portfolio.domain.PortRegVO">
	select portfolio_category_main, ROUND(COUNT(*) * 100 / sum(count(*)) over(), 1) AS score
	from portfolio
	group by portfolio_category_main 
	ORDER by score DESC
	</select>
	
	<select id="topport" resultType="com.spring.ex.portfolio.domain.PortRegVO">
	SELECT * FROM portfolio
	WHERE portfolio_regDate 
	ORDER BY portfolio_regDate DESC LIMIT 5;
	</select>
	
	<select id="portcnt" resultType="com.spring.ex.portfolio.domain.PortRegVO">
	SELECT portfolio_category_main, COUNT(*) AS cnt
	FROM portfolio
	GROUP BY portfolio_category_main
	</select>
	
	<select id="dealcnt" resultType="com.spring.ex.deal.domain.DealVO">
	SELECT (SUM(deal_price)* 0.1) AS dcnt
	FROM deal
	</select>
	
	<select id="acnt" resultType="com.spring.ex.inquiry.domain.AnswerVO">
	SELECT COUNT(*) as acnt
	FROM answer
	</select>
	
	<select id="pcnt" resultType="com.spring.ex.portfolio.domain.PortRegVO">
	SELECT COUNT(*) as pcnt
	FROM portfolio
	</select>
	
	<select id="dealChart" resultType="com.spring.ex.deal.domain.DealVO">
	SELECT deal_date, SUM(deal_price) as dealsum
	FROM deal
	GROUP BY deal_price
	ORDER BY deal_date 
	</select>
	
	<select id="statPortList" resultType="com.spring.ex.portfolio.domain.PortRegVO">
	SELECT portfolio_id, portfolio_userId, portfolio_title, portfolio_category_main, portfolio_content, portfolio_price, portfolio_rating, portfolio_regDate
	FROM portfolio
	ORDER BY portfolio_regDate DESC
	</select>

</mapper>