<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">

	<!-- 회원 정보 수정 -->
	<update id="userUpdate">
		UPDATE user SET
		user_name = #{user_name},
		user_phone = #{user_phone},
		user_email = #{user_email}
		WHERE user_id = #{user_id}
	</update>
	
	<!-- 비밀번호 수정 -->
	<update id="userPwUpdate">
		UPDATE user SET
		user_pw = #{user_pw}
		WHERE user_id = #{user_id}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="userDelete">
		DELETE FROM USER
		WHERE user_id = #{user_id}
	</delete>
</mapper>