<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="portlistMapper">
   <select id="portlist" resultType="com.spring.ex.vo.PortfolioVO">
   
   SELECT *
   FROM portfolio
   ORDER BY portfolio_rating DESC
   
   </select>
   
   <select id="webcg" resultType="com.spring.ex.vo.PortfolioVO">
   
   SELECT portfolio_sCat, portfolio_title, portfolio_content, portfolio_term, portfolio_thumbUrl, portfolio_rating
   FROM portfolio
   WHERE portfolio_sCat LIKE 'web'
   ORDER BY portfolio_rating DESC
   
   </select>
   
   <select id="appcg" resultType="com.spring.ex.vo.PortfolioVO">
   
   SELECT portfolio_sCat, portfolio_title, portfolio_content, portfolio_term, portfolio_thumbUrl, portfolio_rating
   FROM portfolio
   WHERE portfolio_sCat LIKE 'app'
   ORDER BY portfolio_rating DESC
   
   </select>
   
   <select id="designcg" resultType="com.spring.ex.vo.PortfolioVO">
   
   SELECT portfolio_sCat, portfolio_title, portfolio_content, portfolio_term, portfolio_thumbUrl, portfolio_rating
   FROM portfolio
   WHERE portfolio_sCat LIKE 'design'
   ORDER BY portfolio_rating DESC
   
   </select>
   
   <select id="photocg" resultType="com.spring.ex.vo.PortfolioVO">
   
   SELECT portfolio_sCat, portfolio_title, portfolio_content, portfolio_term, portfolio_thumbUrl, portfolio_rating
   FROM portfolio
   WHERE portfolio_sCat LIKE 'photo'
   ORDER BY portfolio_rating DESC
   
   </select>
   
   <select id="main" resultType="com.spring.ex.vo.PortfolioVO">
   
   SELECT *
	FROM portfolio
	ORDER BY portfolio.portfolio_rating DESC
	LIMIT 0, 3
   
   </select>
   
   
    <sql id="searchCondition">
    <if test="searchType != null">
        <if test="searchType == 't'.toString()">
        where portfolio_title like CONCAT("%", #{keyword} ,"%") 
        </if>
 		 <if test="searchType == 'C'.toString()">
        where portfolio_content like CONCAT("%", #{keyword} ,"%") 
        </if>
         <if test="searchType == 'id'.toString()">
        where portfolio_userId like CONCAT("%", #{keyword} ,"%") 
        </if>
    </if>   
    </sql>
    
    <select id="list" resultType="com.spring.ex.vo.PortfolioVO" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT *
    FROM portfolio
    <include refid="searchCondition"></include>
    order by  portfolio_rating DESC
    limit #{pageStart}, #{perPageNum}
    </select>
    

 
     <select id="web" resultType="com.spring.ex.vo.PortfolioVO" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT *
    FROM portfolio
    WHERE portfolio_sCat LIKE 'web'
    <include refid="searchCondition"></include>
    limit #{pageStart}, #{perPageNum}
    </select>
 
 
 
    <select id="app" resultType="com.spring.ex.vo.PortfolioVO" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT *
    FROM portfolio
    WHERE portfolio_sCat LIKE 'app'
    <include refid="searchCondition"></include>
    order by portfolio_rating DESC
    limit #{pageStart}, #{perPageNum}
    </select>
 
 
 
    <select id="design" resultType="com.spring.ex.vo.PortfolioVO" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT *
    FROM portfolio
     WHERE portfolio_sCat LIKE 'design'
    <include refid="searchCondition"></include>
    order by portfolio_rating DESC
    limit #{pageStart}, #{perPageNum}
    </select>
 
 
 
    <select id="photo" resultType="com.spring.ex.vo.PortfolioVO" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT *
    FROM portfolio
    WHERE portfolio_sCat LIKE 'photo'
    <include refid="searchCondition"></include>
    order by portfolio_rating DESC
    limit #{pageStart}, #{perPageNum}
    </select>
 
 
 
 
    <select id="CountWeb" resultType="java.lang.Integer" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT COUNT(*) FROM portfolio 
    WHERE portfolio_sCat LIKE 'web'
 <include refid="searchCondition"></include>
    </select>
    <select id="CountApp" resultType="java.lang.Integer" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT COUNT(*) FROM portfolio 
    WHERE portfolio_sCat LIKE 'app'
 <include refid="searchCondition"></include>
    </select>
    <select id="CountDesign" resultType="java.lang.Integer" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT COUNT(*) FROM portfolio 
    WHERE portfolio_sCat LIKE 'design'
 <include refid="searchCondition"></include>
    </select>
    
    <select id="CountPhoto" resultType="java.lang.Integer" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT COUNT(*) FROM portfolio 
      WHERE portfolio_sCat LIKE 'photo'
 <include refid="searchCondition"></include>
    </select>
    
    <select id="Count" resultType="java.lang.Integer" parameterType="com.spring.ex.vo.SearchCriteria">
    SELECT COUNT(*) FROM portfolio 
 <include refid="searchCondition"></include>
    </select>
   
 
   <select id="selectMap" resultMap="selectMapList">    
        SELECT
	COUNT(portfolio_bCat) as a,
	COUNT(CASE WHEN portfolio_sCat='web' THEN 1 END)as b,
	COUNT(CASE WHEN portfolio_sCat='app' THEN 1 END)as c,
	COUNT(CASE WHEN portfolio_sCat='design' THEN 1 END)as d,
	COUNT(CASE WHEN portfolio_sCat='photo' THEN 1 END)as e
from portfolio
    </select>
 
    <resultMap type="HashMap" id="selectMapList">
        <result column="a" property="a"/>
        <result column="b" property="b"/>
        <result column="c" property="c"/>
        <result column="d" property="d"/>
        <result column="e" property="e"/>
       
    </resultMap>
   
   
   
  
<!--    <select id="countAll" resultType="com.spring.ex.vo.PortfolioVO">
  
 	SELECT COUNT(*)
	FROM portfolio
	GROUP BY portfolio_sCat DESC
  
  </select>
  
  <select id="countWeb" resultType="com.spring.ex.vo.PortfolioVO">
  
 	SELECT COUNT(*)
	FROM portfolio
	WHERE portfolio_sCat = 'web'
  
  </select>
  
    <select id="countWeb" resultType="com.spring.ex.vo.PortfolioVO">
  
 	SELECT COUNT(*)
	FROM portfolio
	WHERE portfolio_sCat = 'app'
  
  </select>
  
    <select id="countWeb" resultType="com.spring.ex.vo.PortfolioVO">
  
 	SELECT COUNT(*)
	FROM portfolio
	WHERE portfolio_sCat = 'design'
  
  </select>
  
    <select id="countWeb" resultType="com.spring.ex.vo.PortfolioVO">
  
 	SELECT COUNT(*)
	FROM portfolio
	WHERE portfolio_sCat = 'photo'
  
  </select> -->
  
</mapper>